# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# User-specific stuff:
.idea/
.coverage
venv/
reports/
.venv/
.vscode/
dist/
*.egg-info/

# Alembic
alembic.ini

# Test database
db.sqlite

# Telepresence log
telepresence.log
