pymongo==4.6.3
kombu==4.6.8
boto3==1.18.9
clickhouse-driver==0.2.2
# OptScale packages
-e tools/cloud_adapter
-e optscale_client/config_client
-e optscale_client/herald_client
-e optscale_client/insider_client
-e optscale_client/metroculus_client
-e optscale_client/rest_api_client
