pymongo==4.6.3
kombu==5.3.4
boto3==1.34.7
clickhouse-driver==0.2.6
# OptScale packages
-e tools/cloud_adapter
-e optscale_client/config_client
-e optscale_client/herald_client
-e optscale_client/insider_client
-e optscale_client/metroculus_client
-e optscale_client/rest_api_client
