# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# User-specific stuff:
.idea/
.venv/
venv/
.vscode/
.DS_Store
ngui/server/.env
ngui/ui/.env
optscale-deploy/overlay/*.yml
!optscale-deploy/overlay/user_template.yml

