# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# User-specific stuff:
.idea/
.venv/
venv/
.vscode/
.DS_Store
optscale-deploy/overlay/*.yml
!optscale-deploy/overlay/user_template.yml
rest_api/.clickhouse
# Build files
**/dist
**/*egg-info/
**/*.tar.gz

# ngui
ngui/server/.env
ngui/ui/.env
ngui/*/node_modules
ngui/*/build/
ngui/*/dist/
ngui/*/storybook
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# jira_ui
jira_ui/*/.env
jira_ui/*/node_modules
jira_ui/*/build/