tornado==6.3.3
sqlalchemy==1.4.23
alembic==1.13.1
mysql-connector==2.2.9
apispec[yaml]==6.3.1
PyJWT[crypto]==2.4.0
atlassian_jwt==1.9.0
requests==2.31.0
pydevd-pycharm==201.5616.27

# OptScale packages
-e optscale_client/config_client
-e optscale_client/rest_api_client
-e optscale_client/auth_client
-e tools/optscale_exceptions
