<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{texts.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
 <table align="left" cellpadding="0" cellspacing="0" width="600"
        style="font-family: Arial, sans-serif; color: #2B3F54">
 <tr>
 <td align="left" bgcolor="#2B3F54">
  <a href="https://hystax.com/"><img
          src="{{images.logo}}" alt="Hystax" width="145"
          height="60" style="display: block; padding: 15px 0 15px 25px;" /></a>
  <p style="font-family: &apos;Montserrat&apos;, sans-serif; font-size: 14px; font-weight: bold">
   Organization: {{texts.organization.name}}</p>
 </td>
 </tr>
 <tr>
  <td bgcolor="#F7F7F7" style="padding: 40px 0px 0px 0px;">
   <table align="center" cellpadding="0" cellspacing="0" width="90%">
    <tr>
     <td align="left" style="padding: 25px 15px 15px 95px; font-size: 24px;">
      {{texts.top_text}}{{texts.customer_name}}
     </td>
    </tr>
    <tr>
     <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
       <td style="width: 1px; height: 1px;">
        <img src="{{images.level}}" width="75" height="75"
             style="display: block; padding: 0px 15px 0px 0px;" />
       </td>
      <td bgcolor="#FFFFFF" style="padding: 15px 15px 15px 15px;
       height: 1px; border-radius: 5px; font-size: 14px;">
          <div style="display: block; font-weight: bold;">
              <img src="{{images.object}}" width="15" height="15"
                   style="vertical-align: middle; padding: 0px 5px 0px 0px;"/>
              {{texts.object_name}}
              </div>
          <div style="padding: 5px 0px 0px 0px;">{{texts.message}}</div>
      </td>
      </tr>
     </table>
    </tr>
    <tr>
     <td align="right" style="padding: 40px 0px 0px 40%;">
      {{texts.bottom_text1}}
      <a href="https://{{etcd.control_panel_link}}{{texts.control_panel_parameters}}" style="color: rgb(0,163,232)">
       <font color="00a3e8">{{texts.control_panel_name}}</font></a>
      {{texts.bottom_text2}}
     </td>
    </tr>
    <tr>
     <td align="right" style="padding: 10px 0px 0px 0px;">
      {{texts.dont_reply}}
     </td>
    </tr>
    <tr>
     <td align="right" style="padding: 10px 0px 10px 0px;">
      {{texts.copyright}}
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
</body>
</html>