SQLAlchemy==1.1.4
mysql-connector-python==8.1.0
tornado==6.2
alembic==0.8.9
pymacaroons==0.9.2
ordered-set==2.0.2
apispec==0.39.0
google-auth==1.23.0
requests>=2.25.0
PyJWT>=1.7.1
cryptography>=3.3.1
pyyaml==5.4.1
zcrmsdk==3.1.0
# OptScale packages
-e tools/optscale_exceptions
-e optscale_client/config_client
-e optscale_client/rest_api_client
