coverage==4.2
nose==1.3.7
pycodestyle==2.11.1
pylint==3.0.2
freezegun==0.3.8
concurrencytest==0.1.2
mongomock==3.22.1
pyyaml==5.4.1

# OptScale packages
-e tools/cloud_adapter
-e tools/check_alembic_down_revisions
-e optscale_client/rest_api_client
