pymongo==4.6.3
kombu==4.6.8
boto3==1.18.9
mongodb-migrations==0.7.0
retrying==1.3.3
pandas == 1.3.3
pyarrow==14.0.1
clickhouse-driver==0.2.2
pyrabbit==1.1.0
# OptScale packages
-e tools/cloud_adapter
-e optscale_client/config_client
-e optscale_client/herald_client
-e optscale_client/insider_client
-e optscale_client/rest_api_client
