cryptography==42.0.4
pymongo==4.6.3
boto3==1.18.9
kombu==4.6.8
clickhouse-driver==0.2.2
pyyaml==5.4.1
# OptScale packages
-e optscale_client/config_client
-e optscale_client/rest_api_client
-e tools/optscale_exceptions
-e tools/cloud_adapter
