cryptography==42.0.4
pymongo==4.6.3
boto3==1.34.7
kombu==5.3.4
clickhouse-driver==0.2.6
pyyaml==6.0.1
# OptScale packages
-e optscale_client/config_client
-e optscale_client/rest_api_client
-e tools/optscale_exceptions
-e tools/cloud_adapter
