SQLAlchemy==1.2.14
mysql-connector-python==2.1.7
tornado==6.2
alembic==0.9.5
croniter==0.3.15
config-client==1.0.78
optscale-exceptions==0.0.23
auth-client==0.0.75
kombu==4.6.8
apispec==0.39.0
restapi_client==1.0.706
pyyaml==5.4.1
