SQLAlchemy==1.3.24
tornado==6.4.1
requests==2.32.3
netaddr==0.8.0
alembic==1.13.1
pika==1.1.0
mysql-connector-python==8.1.0
pystache==0.6.0
boto3==1.34.7

# OptScale packages
-e optscale_client/config_client
-e optscale_client/auth_client
-e tools/optscale_exceptions
