
kombu==4.6.8
boto3==1.12.25
retrying==1.3.3
pymustache==0.3
# OptScale packages
-e optscale_client/arcee_client
-e optscale_client/config_client
-e optscale_client/rest_api_client
-e optscale_client/bulldozer_client

